<!-- register.component.html -->
<div class="div-ultramasivo">
<div class="register">
  <form class="register-form" method="post" ngNativeValidate #formregistro>
    <h1>Registrar usuario</h1>
    <input
      type="email"
      [(ngModel)]="email"
      name="email-r"
      placeholder="Email"
      required="required"
    />
    <input
      type="text"
      [(ngModel)]="usuario"
      name="usuario-r"
      placeholder="Usuario"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="contrasena"
      name="contraseña-r"
      placeholder="Contraseña"
      required="required"
    />
    <h3>
    Estudiante 
    <input
    type="checkbox"
    class="checkbox"
    [(ngModel)]="estudiante"
    name="estudiante"
    >
    </h3>
    <h3>
    Administrador
    <input
    type="checkbox"
    class="checkbox"
    [(ngModel)]="administrador"
    name="estudiante"
    />
    </h3>
    <h3>
    Docente
    <input
    type="checkbox"
    class="checkbox"
    [(ngModel)]="docente"
    name="estudiante"
    (change)="cambioCheckBox()"
    />
    </h3>
    <input
    type="text"
    [(ngModel)]="idDepartamento"
    name="idDepartamento"
    placeholder="ID departamento"
    required="required"
    [disabled]="isDisabled"
    />
    <button class="btn btn-primary btn-block btn-large" type="submit" (click)="formregistro.checkValidity() ? register() : null">Registrar</button>
  </form>
  <form class="register-delete-form" method="post">
    <h1>Eliminar usuario</h1>
    <input
      type="text"
      [(ngModel)]="usuarioDelete"
      name="usuarioDelete"
      placeholder="Usuario"
      required="required"
    />
    <button class="btn btn-primary btn-block btn-large" type="submit" (click)="borrarUsuario()">Eliminar</button>
  </form>
</div>
</div>