<h2>{{encuestaNombre}}</h2>
<br>
<div class="pregunta">
    <form class="pregunta-form" method="post" ngNativeValidate #formpregunta>
        <h1>Crear pregunta</h1>
        <input
        type="text"
        [(ngModel)]="num_preg"
        name="num_preg"
        placeholder="Posición de la pregunta"
        required="required"
        />
        <input
        type="text"
        [(ngModel)]="texto"
        name="texto"
        placeholder="Texto"
        required="required"
        />
        <br>
        <label for="tipoPreg">Tipo de pregunta: </label>
        <select id="tipoPreg" name="tipoPreg" [(ngModel)]="tipoPreg" required="required">
            <option value="eleccion_unica">Elección única</option>
        </select>
        <button type="submit" (click)="formpregunta.checkValidity() ? onCrearPregunta() : null">Insertar</button>
    </form>
</div>
<br>
<form class="preguntalista-form" method="post" ngNativeValidate #formlistapregunta>
    <label for="listPreg">Listado de todas las preguntas: </label>
    <select id="listPreg" name="listPreg" [(ngModel)]="pregId" required="required">
        <option *ngFor="let pregunta of sortAllPreg()" class="lista-preguntasAll"
                value={{pregunta.idPregunta}}> {{pregunta.textoPreg}}
        </option>
    </select>
    <input
    type="text"
    [(ngModel)]="numPreg"
    name="numPreg"
    placeholder="Posición de la pregunta"
    required="required"
    />
    <button type="submit" (click)="formlistapregunta.checkValidity() ? onInsertarPreguntaEncuesta() : null">Insertar</button>
</form>
<br>
<br>
<div class="div-lista-encuestas">
    <h1>Lista de preguntas</h1>
    <table style="width:100%">
        <tr>
            <th>Texto</th>
            <th>Posición pregunta</th>
            <th>Tipo pregunta</th>
            <th>Mostrar opciones</th>
            <th>Eliminar pregunta</th>
        </tr>
        <tr *ngFor="let pregunta of sortPreg()" class="lista-preguntas">

            <td>{{pregunta.textoPreg}}</td>
            <td>{{pregunta.numPreg}}</td>
            <td>{{pregunta.tipoPreg}}</td>
            
            <td>
                <button [class.selected]="pregunta === selectedPregunta" type="button" (click)="onMostrarOpciones(pregunta)">
                    <span class="crearPreguntas">Mostrar Opciones</span>
                </button>
            </td>
            <td>
                <button [class.selected]="pregunta === selectedPregunta" type="button" (click)="onEliminarPreguntaEncuesta(pregunta)">
                    <span class="borrarPregunta">Borrar</span>
                </button>
            </td>
        </tr>
    </table>
</div>
<br>
<div [hidden]=hidden>
    <h1>{{selectedPregunta.textoPreg}}</h1>
    <table style="width:100%">
        <tr>
            <th>Texto</th>
            <th>Posición opción</th>
            <th>Eliminar opción</th>
        </tr>
        <tr *ngFor="let opcion of sortOpc(selectedPregunta.opcionespregunta)" class="lista-opciones">

            <td>{{opcion.texto}}</td>
            <td>{{opcion.num_opc}}</td>
            
            <td>
                <button [class.selected]="opcion === selectedOpcion" type="button" (click)="onEliminarOpcion(opcion)">
                    <span class="borrarOpcion">Borrar</span>
                </button>
            </td>
        </tr>
    </table>
    <br>
    <div class="opciones">
        <form class="opcion-form" method="post" ngNativeValidate #formopcion>
            <h1>Crear opción</h1>
            <input
            type="text"
            [(ngModel)]="num_opc"
            name="num_opc"
            placeholder="Posición de la opción"
            required="required"
            />
            <input
            type="text"
            [(ngModel)]="textoOpc"
            name="texto_opc"
            placeholder="Texto"
            required="required"
            />
            <button type="submit" (click)="formopcion.checkValidity() ? onCrearOpcion() : null">Insertar</button>
        </form>
    </div>
</div>
