<app-toolbar></app-toolbar>
<h2>{{encuestaNombre}}</h2>
<h1>Responda a todas las preguntas</h1>
<div class="div-global">
<ul class="list-group-preguntas">
    <li *ngFor="let preguntaO of sortPreg()" class="lista-preguntas">
        <h2>{{preguntaO.textoPreg}}</h2>
        <ul>
            <li *ngFor="let opcion of sortOpc(preguntaO.opcionespregunta)">
                <h3>
                    <input type="radio" name="{{preguntaO.idPregunta}}" (click)="getValue(opcion,preguntaO)"
                        value = {{opcion.id}}>{{opcion.texto}}
                </h3>
            </li>
        </ul>
    </li>
</ul>
<div class="div-boton">
    <button class="btn btn-primary btn-block btn-large btn-guardar" type="button" (click)="guardar()">
        <span class="guardarRespuesta">Guardar</span>
    </button>
</div>
</div>
<button class="atras" type="button" aria-label="Atrás" (click)="atras()">
    <mat-icon>arrow_back</mat-icon>
</button>
