<ul class="list-group-preguntas">
    <li *ngFor="let preguntaO of preguntasO" class="lista-campañas">
        <p>{{preguntaO.textoPreg}}</p>
        <ul>
            <li *ngFor="let opcion of preguntaO.opcionespregunta">
               <input type="radio" name="{{preguntaO.idPregunta}}" (click)="getValue(opcion,preguntaO)"
                  value = {{opcion.id}}>{{opcion.texto}}
            </li>
        </ul>
    </li>
</ul>
<button type="button" (click)="guardar()">
    <span class="guardarRespuesta">Guardar</span>
</button>
