<app-toolbar></app-toolbar>
<h2>Administrador</h2>
<div class="botones-div">
    <button class="btn btn-primary btn-large btn-big-block" type="button" (click)="onRegister()">
        Registrar
    </button>
    <button class="btn-centro btn btn-primary btn-large btn-big-block" type="button" (click)="onSituacion()">
        Situaciones
    </button>
    <button class="btn btn-primary btn-large btn-big-block" type="button" (click)="onCampana()">
        Campañas
    </button>
</div>
<br>
<app-campana [hidden]=hiddenCampana></app-campana>
<app-register [hidden]=hiddenRegister></app-register>
<app-situacion [hidden]=hiddenSituacion></app-situacion>

