<p class="solid">
    <mat-toolbar>
        <h1>SiREnO</h1>
        <span class="spacer"></span>
        <h1>{{usuario}}</h1>
        <span class="spacer_little"></span>
        <button mat-icon-button class="home_icon" aria-label="Menú principal" (click)="onHome()">
            <mat-icon>home</mat-icon>
        </button>
        <span class="spacer_little"></span>
        <button mat-icon-button class="door_icon" aria-label="Cerrar sesión" (click)="onLogout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    
</p>