<div class="campaña">
    <form class="campaña-form" method="post" ngNativeValidate #formcampana>
        <h1>Crear campaña</h1>
        <input
        type="text"
        [(ngModel)]="campana.nombre"
        name="nombre"
        placeholder="Nombre campaña"
        required="required"
        />
        <input
        type="text"
        [(ngModel)]="campana.descripcion"
        name="descripcion"
        placeholder="Descripción"
        required="required"
        />
        <br>
        <span>Fecha inicio: </span>
        <input
        type="date"
        [(ngModel)]="campana.fechaIni"
        name="fechaIni"
        required="required"
        />
        <br>
        <span>Fecha fin: </span>
        <input
        type="date"
        [(ngModel)]="campana.fechaFin"
        name="fechaFin"
        required="required"
        />
        <br>
        <input
        type="checkbox"
        [(ngModel)]="anonima"
        name="anonima"
        placeholder=""
        />Anonima
        <input
        type="checkbox"
        [(ngModel)]="con_registro"
        name="campaña"
        placeholder="ID campaña"
        />Con registro
        <br>
        <button type="submit" (click)="formcampana.checkValidity() ? onCrearCampana() : null">Insertar</button>
    </form>
</div>
<br>
<div class="div-lista-campañas">
    <h1>Lista de campañas - Insertar/Cambiar Encuesta - Eliminar Encuesta</h1>
    <table style="width:100%">
        <tr>
            <th>ID Campaña</th>
            <th>Nombre</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
            <th>Descripción</th>
            <th>Anonima</th>
            <th>Con registro</th>
            <th>ID Encuesta</th>
            <th>Cambiar encuesta</th>
            <th>Eliminar encuesta</th>
        </tr>
        <tr *ngFor="let campana of sortCampanas();let index = index;trackBy:trackByIndex;" class="lista-canpanas">

            <td>{{campana.id}}</td>
            <td>{{campana.nombre}}</td>
            <td>{{campana.fechaIni}}</td>
            <td>{{campana.fechaFin}}</td>
            <td>{{campana.descripcion}}</td>
            <td>{{campana.anonima}}</td>
            <td>{{campana.con_registro}}</td>   
            <td>{{campana.idEncuesta}}</td>
            
            <td>
                <form class="campana-form" method="post" ngNativeValidate #formcampanas>
                    <input
                    type="text"
                    [(ngModel)]="encuestas[index]"
                    name="encuesta"
                    placeholder="ID Encuesta"
                    required="required"
                    />
                    <button [class.selected]="campana === selectedCampana" type="button" (click)="formcampanas.checkValidity() ? onInsertarEncuestaCampana(campana,encuestas[index]) : null">
                    <span class="insertarCampaña">Cambiar Encuesta</span>
                    </button>
                </form>
            </td>
            <td>
                <button [class.selected]="campana === selectedCampana" type="button" (click)="onDeleteCampana(campana)">
                    <span class="borrarSituacion">Borrar</span>
                </button>
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<h1>Crear encuesta</h1>
<div class="div-encuesta">
    <form class="encuesta-form" method="post" ngNativeValidate #formencuesta>
        <input
        type="text"
        [(ngModel)]="encuestaNombre"
        name="encuestaNombre"
        placeholder="Nombre de la encuesta"
        required="required"
        />
        <button type="submit" (click)="formencuesta.checkValidity() ? onCrearEncuesta() : null">Insertar</button>
    </form>
</div>
<br>
<br>
<div class="div-lista-encuestas">
    <h1>Lista de encuestas</h1>
    <table style="width:100%">
        <tr>
            <th>ID Encuesta</th>
            <th>Nombre</th>
            <th>Añadir preguntas</th>
            <th>Eliminar encuesta</th>
        </tr>
        <tr *ngFor="let encuesta of sortEncuestas()" class="lista-encuestas">

            <td>{{encuesta.id}}</td>
            <td>{{encuesta.nombre}}</td>
            
            <td>
                <button [class.selected]="encuesta === selectedEncuesta" type="button" (click)="onCrearPreguntas(encuesta)">
                    <span class="crearPreguntas">Añadir Preguntas</span>
                </button>
            </td>
            <td>
                <button [class.selected]="encuesta === selectedEncuesta" type="button" (click)="onEliminarEncuesta(encuesta)">
                    <span class="borrarEncuesta">Borrar</span>
                </button>
            </td>
        </tr>
    </table>
</div>
<br>
<br>
